{% extends 'main.html' %}
{% block content %}

<div class="content-section" >
        <h1>GOSHUL BIZE!</h1> <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group" style="padding: 10px">
            
                <legend class="border-bottom mb-4">
        {% for field in form %}
           <b> <br> {{field.label_tag}} </b> <br>    
        
        {{field}}
        {% if field.help_text %}

        <small style="color: gray"> {{ field.help_text }} </small>
        {% endif %}

        {% for error in field.errors %}
   <b style="color: red"> {{ error }} </b>
   {% endfor %}
        {% endfor %}
                
</legend>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info btn-success" style="color: blanchedalmond">
                TAYYAR
            </button>
        </div>
    </form>
    <div class="border-top pt-3">
        <b class="text-muted">
            <a class="ml-2" href="{% url 'login' %}"> ON GOSHULDYM! </a>
        </b>
    </div>
</div>
  {% endblock %}